<div class="flex flex-col-reverse justify-between md:mx-0 md:flex-row">
  <h3 class="text-2xl font-bold border-t border-gray-300 px-4 pt-6 md:text-3xl md:border-t-0 md:pt-0">
    <%= t(".checkout") %>
  </h3>
  <div class="p-4 rounded-2xl md:text-right md:bg-gray-100 md:mr-4 lg:mr-0">
    <div class="text-lg font-semibold"><%= active_portfolio.name %></div>
    <div class="text-xs italic"><%= t(".portfolio_number", portfolio_number: active_portfolio.number) %></div>
  </div>
</div>
<div
  class="flex md:mt-10"
  data-controller="page-reload toggle-modal paypal-payment card-payment number-of-units"
  data-toggle-modal-modal-value="card-payment"
  data-page-reload-url-value="<%= refresh_path %>"
  data-number-of-units-min-value="<%= tranzaction.minimum_units %>"
  data-number-of-units-max-value="<%= tranzaction.available_units %>"
  data-paypal-payment-paypal-id-value="<%= paypal_client_id %>"
  data-paypal-payment-braintree-authorization-value="<%= braintree_client_authorization %>"
  data-paypal-payment-braintree-prefix-value="<%= braintree_nonce_prefix %>"
  data-paypal-payment-trxn-amount-value="<%= tranzaction.tranzaction_grand_total %>"
  data-card-payment-braintree-authorization-value="<%= braintree_client_authorization %>"
  data-card-payment-braintree-prefix-value="<%= braintree_nonce_prefix %>"
  data-card-payment-trxn-amount-value="<%= tranzaction.tranzaction_grand_total %>"
>
  <div class="hidden md:block md:w-4/12 lg:basis-5/12">
    <%= property_image_with_details %>
  </div>

  <div class="relative border-gray-200 p-4 md:border md:p-8 md:w-8/12 lg:basis-7/12">
    <h3 class="text-xl font-bold hidden md:block"><%= t(".review_checkout") %></h3>
    <p class="mt-4 mb-10">
      <%== t(".review_message", acc_name: active_portfolio.name, units: pluralize(tranzaction.number_of_units, "unit"), unit_price: price_per_unit, name: tranzaction.name) %>
    </p>

    <div>
      <%= form_with model: tranzaction, scope: tranzaction.scope, url: { action: "create", controller: :tranzactions },data: {page_reload_target: :form, paypal_payment_target: :form, card_payment_target: :form} do |f|%>
        <div class="flex justify-between">
          <h4 class="text-lg font-semibold text-gray-500"><%= t(".tranzaction_summary") %></h4>
          <div
            class="px-2 py-1 rounded-full text-xs border border-green-500 cursor-pointer hidden hover:bg-green-500 hover:text-white"
            data-number-of-units-target="refreshPriceButton"
            data-action="click->page-reload#refreshWithParams"
          ><%= t(".refresh_button") %></div>
        </div>
        <div>
          <ul class="mt-2 divide-y divide-gray-300 lg:divide-y-0 lg:divide-x lg:flex">
            <li class="bg-gray-200 p-4 md:basis-full lg:basis-1/4">
              <div class="text-base md:text-xs"><%= t(".units_to_acquire") %></div>
              <%= f.number_field :number_of_units,
                step: 1,
                value: tranzaction.number_of_units,
                min: tranzaction.minimum_units,
                max: tranzaction.available_units,
                class: "form-input pl-2",
                autofocus: true,
                data: {
                  action: "input->number-of-units#update",
                  paypal_payment_target: "unitsInput",
                  number_of_units_target: "unitsInput"
                }
              %>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".subtotal") %></div>
              <div class="text-2xl md:text-xl"><%= tranzaction_subtotal %></div>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".tranzaction_fee") %></div>
              <div class="text-2xl md:text-xl"><%= tranzaction_fee %></div>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".grand_total") %></div>
              <div class="text-3xl font-semibold"><%= tranzaction_grand_total %></div>
            </li>
          </ul>
          <div class="flex flex-col gap-x-2 gap-y-4 mt-4 justify-end items-center md:flex-row">
            <%= render_svg("spinner", class: "icon animate-spin", data: {paypal_payment_target: "spinner"}) %>
            <div class="text-right relative w-full">
              <div id="paypal-button" class="absolute b-0 inset-x-0 opacity-0" data-paypal-payment-target="paypalButtonContainer"></div>
              <%= render Ui::PrimaryButtonComponent.new(
                title: t(".pay_with_paypal"),
                rounded: true,
                full_width: true,
                data: {
                  paypal_payment_target: "payWithPaypalButton",
                  number_of_units_target: "payWithPaypalButton"
                }
              ) %>
            </div>
            <div class="w-full" data-controller="toggle-modal" data-toggle-modal-modal-value="card-payment">
              <%= render Ui::PrimaryButtonComponent.new(
                title: t(".pay_with_card"),
                rounded: true,
                full_width: true,
                data: {
                  action: "toggle-modal#show",
                  paypal_payment_target: "payWithCardButton",
                  number_of_units_target: "payWithCardButton"
                }
              ) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render CardPaymentModalComponent.new %>
  <%= render PaymentProcessingModalComponent.new %>
</div>
<div class="mx-4 mt-4 text-gray-500 text-sm lg:mx-0"><%== t(".disclaimer") %></div>


