<h3 class="text-2xl font-bold mx-4 md:text-3xl md:mb-20 lg:mx-0">
  <%= t(".eoi_heading") %>
</h3>
<div
  class="flex md:mt-10"
  data-controller="page-reload number-of-units"
  data-page-reload-url-value="<%= refresh_path %>"
  data-number-of-units-min-value="<%= eoi.minimum_units %>"
  data-number-of-units-max-value="<%= eoi.available_units %>"
>
  <div class="hidden md:block md:w-4/12 lg:basis-5/12">
    <%= property_image_with_details %>
  </div>

  <div class="relative border-gray-200 p-4 md:border md:p-8 md:w-8/12 lg:basis-7/12">
    <h3 class="text-xl font-bold hidden md:block"><%= t(".review_eoi") %></h3>
    <p class="mt-4 mb-10">
      <%== t(".review_message", units: pluralize(eoi.number_of_units, "unit"), unit_price: price_per_unit, name: eoi.name) %>
    </p>

    <div>
      <%= form_with model: eoi, scope: eoi.scope, url: { action: "create", controller: :expression_of_interests }, data: {page_reload_target: :form} do |f|%>
        <div class="flex justify-between">
          <h4 class="text-lg font-semibold text-gray-500"><%= t(".eoi_summary") %></h4>
          <div
            class="px-2 py-1 rounded-full text-xs border border-green-500 cursor-pointer hidden hover:bg-green-500 hover:text-white"
            data-number-of-units-target="refreshPriceButton"
            data-action="click->page-reload#refreshWithParams"
          ><%= t(".refresh_button") %></div>
        </div>
        <div>
          <ul class="mt-2 divide-y divide-gray-300 lg:divide-y-0 lg:divide-x lg:flex">
            <li class="bg-gray-200 p-4 md:basis-full lg:basis-1/4">
              <div class="text-xs md:text-xs"><%= t(".units_to_acquire") %></div>
              <%= f.number_field :number_of_units,
                step: 1,
                value: eoi.number_of_units,
                min: eoi.minimum_units,
                max: eoi.available_units,
                class: "form-input pl-2",
                autofocus: true,
                data: {
                  action: "input->number-of-units#update",
                  paypal_payment_target: "unitsInput",
                  number_of_units_target: "unitsInput"
                }
              %>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".subtotal") %></div>
              <div class="text-2xl md:text-xl"><%= eoi_subtotal %></div>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".eoi_fee") %></div>
              <div class="text-2xl md:text-xl"><%= eoi_fee %></div>
            </li>
            <li class="p-4 lg:basis-1/4 lg:bg-gray-200">
              <div class="text-base md:text-xs"><%= t(".grand_total") %></div>
              <div class="text-3xl font-semibold"><%= eoi_grand_total %></div>
            </li>
          </ul>
          <div class="mt-4">
            <%= render Ui::PrimaryButtonComponent.new(
              title: t(".eoi_button"),
              rounded: true,
              full_width: true,
              data: { number_of_units_target: "eoiButton" }
            ) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="mx-4 mt-4 text-gray-500 text-sm lg:mx-0"><%== t(".disclaimer") %></div>
