<div>
  <div class="flex justify-between">
    <h3 class="text-3xl font-bold"><%= t(".my_portfolio") %></h3>
    <div class="bg-gray-100 p-4 rounded-2xl text-right">
      <div class="text-lg font-semibold"><%= portfolio_name %></div>
      <div class="text-xs italic"><%= t(".portfolio_number", portfolio_number: portfolio_number) %></div>
    </div>
  </div>
  <div class="mt-10">
    <ul class="flex mt-2 text-right space-x-4">
      <li class="border border-gray-200 p-4 pr-8 w-2/12 rounded-2xl">
        <div class="text-sm"><%== t(".acquired_properties", subheading: content_tag(:div, t(".properties"), class: "text-lg font-semibold text-green-500")) %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_number_of_properties %></div>
      </li>
      <li class="border border-gray-200 p-4 pr-8 w-2/12 rounded-2xl">
        <div class="text-sm"><%== t(".units_acquired", subheading: content_tag(:div, t(".units"), class: "text-lg font-semibold text-green-500")) %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_units_acquired %></div>
      </li>
      <li class="border border-gray-200 p-4 pr-8 w-4/12 rounded-2xl">
        <div class="text-sm"><%== t(".total_investment_amount", subheading: content_tag(:div, t(".investment_amount"), class: "text-lg font-semibold text-green-500")) %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_investment_amount %></div>
      </li>
      <li class="border border-gray-200 p-4 pr-8 w-4/12 rounded-2xl">
        <div class="text-sm"><%== t(".total_transaction_fee", subheading: content_tag(:div, t(".transaction_fee"), class: "text-lg font-semibold text-green-500")) %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_tranzaction_fee %></div>
      </li>
    </ul>
  </div>
</div>

<div class="mt-20">
  <h3 class="text-xl font-bold"><%= t(".portfolio_properties") %></h3>
  <div class="mt-2">
    <%= render Tranzactions::TableComponent.new(prepared_tranzactions: grouped_portfolio.prepared_tranzactions) %>
  </div>
</div>

