<div>
  <div class="flex justify-between">
    <h3 class="text-3xl font-bold"><%= t(".my_portfolio") %></h3>
    <div class="bg-gray-100 p-4 rounded-md text-right">
      <div class="text-lg font-semibold"><%= portfolio_data.account.name %></div>
      <div class="text-xs italic"><%= t(".acc_number", acc_number: portfolio_data.account.number) %></div>
    </div>
  </div>
  <div class="mt-10">
    <ul class="flex mt-2 text-right space-x-4">
      <li class="bg-gray-200 p-4 pr-8 w-2/12 shadow-md rounded-2xl">
        <div class="text-sm"><%= t(".acquired_properties_html") %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_number_of_properties %></div>
      </li>
      <li class="bg-gray-200 p-4 pr-8 w-2/12 shadow-md rounded-2xl">
        <div class="text-sm"><%= t(".units_acquired_html") %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_units_acquired %></div>
      </li>
      <li class="bg-gray-200 p-4 pr-8 w-4/12 shadow-md rounded-2xl">
        <div class="text-sm"><%= t(".total_value_html") %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_portfolio_value %></div>
      </li>
      <li class="bg-gray-200 p-4 pr-8 w-4/12 shadow-md rounded-2xl">
        <div class="text-sm"><%= t(".total_fee_html") %></div>
        <div class="text-3xl font-semibold mt-2"><%= total_portfolio_fee %></div>
      </li>
    </ul>
  </div>
</div>

<div class="mt-20">
  <h3 class="text-xl font-bold"><%= t(".transaction_summary") %></h3>
  <div class="mt-2">
    <%= render Transactions::TableComponent.new(prepared_transactions: portfolio_data.prepared_transactions) %>
  </div>
</div>

