<section>
  <div class="max-w-screen-xl">
    <%= property_image %>
  </div>

  <div class="mt-8 flex justify-between">
    <div>
      <h2 class="text-3xl font-bold">
        <%= property_unit_price %>
      </h2>
      <div class="mt-10">
        <h3 class="text-2xl font-semibold"><%= offer.property.name %></h3>
        <p class="text-lg"><%= offer.property.address %></p>
        <%= render Offers::PropertyFeatureComponent.new(feature: offer.property.property_feature) %>
        <%= render Ui::PrimaryLinkButtonComponent.new(
          title: t(".buy_units"),
          href: new_buyer_app_offer_tranzaction_path(offer_id: offer.id),
          rounded: true
        ) %>
      </div>
    </div>

    <div class="w-5/12">
      <ul class="flex">
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".investment_status") %></div>
          <div class="text-lg"><%= property_status %></div>
        </li>
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".property_type") %></div>
          <div class="text-lg"><%= property_type %></div>
        </li>
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".property_value") %></div>
          <div class="text-lg"><%= property_value %></div>
        </li>
      </ul>
      <ul class="flex mt-2">
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".minimum_investment") %></div>
          <div class="text-lg"><%= minimum_investment %></div>
        </li>
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".units_available") %></div>
          <div class="text-lg"><%= units_available %></div>
        </li>
        <li class="bg-gray-200 p-4 mx-1 w-1/3">
          <div class="text-xs"><%= t(".estimated_yield") %></div>
          <div class="text-lg"><%= estimated_yield %></div>
        </li>
      </ul>
    </div>
  </div>
</section>
