<div class="grid grid-cols-5 gap-x-4">
  <div class="border border-gray-200 p-4 rounded-2xl">
    <div class="text-sm"><%= t(".property_status") %></div>
    <div class="text-lg font-semibold"><%= property_status %></div>
  </div>
  <div class="border border-gray-200 p-4 rounded-2xl">
    <div class="text-sm"><%= t(".lease_term") %></div>
    <div class="text-lg font-semibold"><%= property_lease_term %></div>
  </div>
  <div class="border border-gray-200 p-4 rounded-2xl">
    <div class="text-sm"><%= t(".lease_end_date",) %></div>
    <div class="text-lg font-semibold"><%= property_lease_end_date %></div>
  </div>
  <div class="border border-gray-200 p-4 rounded-2xl">
    <div class="text-sm"><%= t(".property_manager") %></div>
    <div class="text-lg font-semibold"><%= property_manager_company_name %></div>
  </div>
  <div class="border border-gray-200 p-4 rounded-2xl">
    <div class="text-sm"><%= t(".property_liaison") %></div>
    <div class="text-lg font-semibold"><%= property_liaison %></div>
  </div>
</div>
