<section class="max-w-screen-xl mx-auto my-10">
  <div class="flex gap-x-4 items-center">
    <div class="rounded-xl overflow-hidden shadow">
      <%= cl_image_tag(@property.image, width: 80, crop: "fill") %>
    </div>
    <div>
      <p class="text-3xl font-bold"><%= @property.name %></p>
      <p class="text-lg"><%= @property.address %></p>
    </div>
  </div>
  <div class="mt-10">
    <div class="grid grid-cols-5 gap-x-4">
      <div class="border border-gray-200 p-4 rounded-2xl">
        <div class="text-sm"><%= t(".property_status") %></div>
        <div class="text-lg font-semibold">Occupied</div>
      </div>
      <div class="border border-gray-200 p-4 rounded-2xl">
        <div class="text-sm"><%= t(".lease_term") %></div>
        <div class="text-lg font-semibold">Annual</div>
      </div>
      <div class="border border-gray-200 p-4 rounded-2xl">
        <div class="text-sm"><%= t(".lease_end_date",) %></div>
        <div class="text-lg font-semibold">26 July, 2023</div>
      </div>
      <div class="border border-gray-200 p-4 rounded-2xl">
        <div class="text-sm"><%= t(".property_manager") %></div>
        <div class="text-lg font-semibold">SunCorp</div>
      </div>
      <div class="border border-gray-200 p-4 rounded-2xl">
        <div class="text-sm"><%= t(".property_liaison") %></div>
        <div class="text-lg font-semibold">Micheal Anderson</div>
      </div>
    </div>

    <div class="grid grid-cols-12 mt-4 space-x-4">
      <%= render SettledProperties::OwnershipShareComponent.new %>
      <%= render SettledProperties::RentalAndExpenseHistoryComponent.new %>
    </div>

    <%= render SettledProperties::PropertyValueTrendComponent.new %>
  </div>
</section>
