<ul class="flex bg-green-50 border-b border-gray-200 last:border-b-8 last:mb-4" data-id="<%= transaction_id %>">
    <li class="p-4 w-1/5"><%= transaction_date %></li>
    <li class="p-4 w-1/5"><%= transaction_number %></li>
    <li class="p-4 w-1/5"><%= units_acquired %></li>
    <li class="p-4 w-1/5 text-right"><%= value_subtotal %></li>
    <li class="p-4 w-1/5 text-right"><%= fee_subtotal %></li>
  </ul>
