<ul class="flex text-xl items-center <%= row_color %>">
  <li class="flex items-center p-4 w-1/5">
    <%= toggle_transactions_button %>
    <%= property_thumbnail %>
  </li>
  <li class="p-4 w-1/5 underline"><%= property_name %></li>
  <li class="p-4 w-1/5"><%= unit_subtotal %></li>
  <li class="p-4 w-1/5 text-right"><%= value_subtotal %></li>
  <li class="p-4 w-1/5 text-right"><%= fee_subtotal %></li>
</ul>
<div data-id="<%= property_id %>" class="hidden">
  <ul class="flex bg-green-100 divide-x-2 divide-green-200">
    <li class="p-4 w-1/5"><%= t(".date_column_heading") %></li>
    <li class="p-4 w-1/5"><%= t(".transaction_column_heading") %></li>
    <li class="p-4 w-1/5"><%= t(".units_column_heading") %></li>
    <li class="p-4 w-1/5 text-right"><%= t(".value_column_heading") %></li>
    <li class="p-4 w-1/5 text-right"><%= t(".fee_column_heading") %></li>
  </ul>
  <%= render Transactions::EntriesComponent.with_collection(prepared_transaction.entries) %>
</div>
