<ul class="flex text-xl items-center <%= row_color %>">
  <li class="p-4 w-1/5"><%= property_thumbnail %></li>
  <li class="p-4 w-1/5 underline"><%= property_name %></li>
  <li class="p-4 w-1/5"><%= unit_subtotal %></li>
  <li class="p-4 w-1/5 text-right"><%= value_subtotal %></li>
  <li class="p-4 w-1/5 text-right"><%= fee_subtotal %></li>
</ul>
