<ul class="flex bg-gray-200 p4 divide-x divide-gray-300 text-lg font-semibold">
  <li class="p-4 w-1/5"></li>
  <li class="p-4 w-1/5"><%= t(".property_column_heading") %></li>
  <li class="p-4 w-1/5"><%= t(".units_column_heading") %></li>
  <li class="p-4 w-1/5 text-right"><%= t(".value_column_heading") %></li>
  <li class="p-4 w-1/5 text-right"><%= t(".fees_column_heading") %></li>
</ul>
<div class="mb-20" data-controller="transactions">
  <%= render Transactions::TableRowComponent.with_collection(prepared_transactions)%>
</div>
