<script type="text/javascript" src="<%= Services::Google::MapsApi.generate_url(libraries: ["places"]) %>">
</script>
<div
  class="mx-4"
  data-controller="toggle-switch google-places-autocomplete file-upload"
  data-file-upload-pid-value="<%= @form.pid %>"
  data-file-upload-cloudname-value="<%= @form.file_upload_data[:cloudname] %>"
  data-file-upload-apikey-value="<%= @form.file_upload_data[:apikey] %>"
  data-file-upload-folder-value="<%= @form.file_upload_data[:folder] %>"
  data-file-upload-timestamp-value="<%= @form.file_upload_data[:timestamp] %>"
  data-file-upload-signature-value="<%= @form.file_upload_data[:signature] %>"
>
  <div class="my-10 mx-4 lg:mx-0">
    <%= form_with model: @form, scope: @form.scope, builder: SellerApp::FormBuilder, data: {file_upload_target: :form}, url: {action: :create, controller: :properties} do |f|%>
      <div class="text-2xl font-bold my-10">
        <h2><%= t(".add_new_property_heading") %></h2>
      </div>

      <%= f.hidden_field :pid %>
      <%= render partial: "basic_info", locals: {f: f} %>
      <%= render partial: "description", locals: {f: f} %>
      <%= render partial: "upload_images", locals: {f: f} %>

      <div class="text-right">
        <%= render Ui::PrimaryButtonComponent.new(
          title: t(".add_property"),
          rounded: true,
          data: { action: "file-upload#submit"}
        ) %>
      </div>
    <% end %>
  </div>
</div>
