<section
  data-controller="page-reload intl-telephone"
  data-intl-telephone-allowed-countries-value="<%= @form.telephone_supported_countries %>"
  class="max-w-screen-xl mx-auto mt-10 md:mt-20">
  <h3 class="text-3xl font-bold mx-4 lg:mx-0"><%= t(".my_profile") %></h3>
  <p class="mx-4 mt-4 text-lg md:hidden"><%= t(".mobile_information") %></p>
  <div class="mt-10 mx-4 md:mt-20 lg:mx-0">
    <%= form_with model: @form, scope: @form.scope, builder: BuyerApp::FormBuilder, url: {action: :update, controller: :profiles}, data: {page_reload_target: :form}, method: "put" do |f|%>
      <div class="grid gap-x-8 lg:grid-cols-2">
        <div class="grid gap-4 md:grid-cols-12">
          <div class="col-span-6 bg-gray-200 p-10 text-lg text-gray-500 rounded-l-2xl hidden md:block">
            <h4 class="text-xl font-semibold mb-5"><%= t(".basic_information_heading") %></h4>
            <p><%= t(".basic_information") %></p>
          </div>
          <div class="col-span-6">
            <div>
              <%= f.label :full_name, t(".full_name") %>
              <%= f.text_field :full_name, disabled: true %>
              <%= f.field_errors :full_name %>
            </div>

            <div class="mt-6">
              <%= f.label :preferred_name, t(".preferred_name") %>
              <%= f.text_field :preferred_name %>
            </div>

            <div class="mt-6">
              <%= f.label :email, t(".email") %>
              <%= f.email_field :email %>
              <%= f.field_errors :email %>
            </div>

            <div class="mt-6">
              <%= f.label :visible_mobile_number, t(".mobile_number") %>
              <%= f.text_field :visible_mobile_number, value: @form.mobile_number, data: {intl_telephone_target: "mobileNumberInput"} %>
              <%= f.field_errors :mobile_number %>
            </div>
          </div>
        </div>
        <div class="grid gap-4 mt-6 md:grid-cols-12 lg:mt-0">
          <div class="col-span-6 bg-gray-200 p-10 text-lg text-gray-500 rounded-l-2xl hidden md:block">
            <h4 class="text-xl font-semibold mb-5"><%= t(".address_information_heading") %></h4>
            <p><%= t(".address_information") %></p>
          </div>
          <div class="col-span-6">
            <div>
              <%= f.label :address, t(".address") %>
              <%= f.text_field :address %>
               <%= f.field_errors :address %>
            </div>

            <div class="mt-6">
              <%= f.label :suburb, t(".suburb") %>
              <%= f.text_field :suburb %>
              <%= f.field_errors :suburb %>
            </div>

            <div class="mt-6">
              <%= f.label :country_code, t(".country") %>
              <%= f.select :country_code, @form.supported_countries_options,
                {prompt: t(".select_country")},
                {data: { action: "intl-telephone#setMobileNumber page-reload#refreshWithParams"}}
              %>
              <%= f.field_errors :country_code %>
            </div>

            <div class="mt-6">
              <%= f.label :subdivision, t(".subdivision") %>
              <%= f.select :subdivision, @form.subdivision_options %>
              <%= f.field_errors :subdivision %>
            </div>
          </div>
        </div>
      </div>
      <div class="my-10 md:flex md:justify-end">
        <div>
          <%= render Ui::PrimaryButtonComponent.new(
            title: t(".update_profile"),
            rounded: true,
            full_width: true
          ) %>
        </div>
      </div>
    <% end %>
  </div>
</section>
